<article class="post">
    <div class="title">
    <h2>Single Character View Page</h2>
    <h2>Character:</h2>
    <h3>{{character.name}} by: {{character.user.username}}</h3>
    <h3>Level: {{character.level}}</h3>
    <h3>Description: {{character.description}}</h3>
    <a href="/dashboard/edit/{{character.id}}">Edit Character</a>
    <h2>S.P.E.C.I.A.L</h2>
    <ul>
        <li>Strength: {{character.strength}}</li>
        <li>Perception: {{character.perception}}</li>
        <li>Endurance: {{character.endurance}}</li>
        <li>Charisma: {{character.charisma}}</li>
        <li>Intelligence: {{character.intelligence}}</li>
        <li>Agility: {{character.agility}}</li>
        <li>Luck: {{character.luck}}</li>
    </ul>
    <hr>
    <ul>
        {{#each character.character_perks}}
            <li>Level {{this.level_taken}} Perk: {{this.name}} Rank: {{this.perk_rank}}<br>Effect: {{this.effect}}</li>
        {{/each}}
    </ul>

    </div>
</article>