<section class="character-sheet">
        <div class="nameplate">
            <h2><span id="character-name-span">{{character.name}}</span> - Level {{character.level}}</h2>
            <p>{{character.description}}</p>
        </div>
        <div class="character-buttons">
                <a href="/dashboard/edit/{{character.id}}" class="link-button">Edit</a>
                <a href="/dashboard/character/pdf/{{character.id}}" class="edit-link link-button" target="_blank">Get PDF</a>
                <button id="call-modal-btn" class="char-button">Delete</button>
        </div>
        
        <div class="stats-wrapper">
            <div class="derived-stats">
                <table>
                    <tr>
                        <td>Health:</td>
                        <td>{{character.health}}</td>
                    </tr>
                    <tr>
                        <td>Action Points:</td>
                        <td>{{character.actionPoints}}</td>
                    </tr>
                    <tr>
                        <td>Carry Weight:</td>
                        <td>{{character.carryWeight}}</td>
                    </tr>
                    <tr>
                        <td>Damage Resistance:</td>
                        <td>{{character.damageResist}}%</td>
                    </tr>
                    <tr>
                        <td>Energy Resistance:</td>
                        <td>{{character.energyResist}}%</td>
                    </tr>
                    <tr>
                        <td>Poison Resistance:</td>
                        <td>{{character.poisonResist}}%</td>
                    </tr>
                    <tr>
                        <td>Radiation Resistance:</td>
                        <td>{{character.radiationResist}}%</td>
                    </tr>
                </table>
            </div>
    
            <div class="special-stats">
                <table>
                    <tr>
                        <td>Strength</td>
                        <td>{{character.strength}}</td>
                    </tr>
                    <tr>
                        <td>Perception</td>
                        <td>{{character.perception}}</td>
                    </tr>
                    <tr>
                        <td>Endurance</td>
                        <td>{{character.endurance}}</td>
                    </tr>
                    <tr>
                        <td>Charisma</td>
                        <td>{{character.charisma}}</td>
                    </tr>
                    <tr>
                        <td>Intelligence</td>
                        <td>{{character.intelligence}}</td>
                    </tr>
                    <tr>
                        <td>Agility</td>
                        <td>{{character.agility}}</td>
                    </tr>
                    <tr>
                        <td>Luck</td>
                        <td>{{character.luck}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="divider">
            <h2>Your Perks</h2>
        </div>
        <div class="character-perks">
            {{#each character.character_perks}}
                <div class="perk-card">
                    <div class="perk-card-header">
                        <p>Level {{this.level_taken}}</p>
                        <p>{{this.name}}</p>
                        <p>Rank {{this.perk_rank}}</p>
                    </div>
                    <div class="perk-card-body">
                        <p>{{this.effect}}</p>
                    </div>
                </div>
            {{/each}}
        </div>

        <!-- HTML for the delete character modal -->
        <div id="delete-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Are you sure you would like to delete this character?</h2>
            </div>
            <div class="modal-body">
                <button class="delete-character-btn char-button">Delete</button>
                <button id="cancel-btn" class="char-button">Cancel</button>
            </div>
        </div>

    </div>
    </section>
    <script src="/javascript/delete-character.js"></script>