<article class="post">
    <div class="title">
    <h2>Edit Character Page</h2>
    <h2>Character:</h2>
    <!--
    <h3>{{character.name}} by: {{character.user.username}}</h3>
    <h3>Level: {{character.level}}</h3>
    <h3>Description: {{character.description}}</h3>
    -->
    <form id="edit-character-form">
        <div>
            <label for="character-name">Name:</label><br>
            <input type="text" id="character-name" name="character-name" value="{{character.name}}"><br>
            Level: <span id="cur-lvl">{{character.level}}</span><br>
            <label for="build-desc">Description:</label><br>
            <input type="text" id="build-desc" name="build-desc" value="{{character.description}}"><br>
        </div>
    
        <h2>S.P.E.C.I.A.L</h2>
        <ul>
            <li>Strength: {{character.strength}}</li>
            <li>Perception: {{character.perception}}</li>
            <li>Endurance: {{character.endurance}}</li>
            <li>Charisma: {{character.charisma}}</li>
            <li>Intelligence: {{character.intelligence}}</li>
            <li>Agility: {{character.agility}}</li>
            <li>Luck: {{character.luck}}</li>
        </ul>
        <hr>
        <h2>Your Perks:</h2>
        <ul>
            {{#each character.character_perks}}
                <li>Level {{this.level_taken}} Perk: {{this.name}} Rank: {{this.perk_rank}}<br>Effect: {{this.effect}}</li>
            {{/each}}
        </ul>
        <div>
            <button type="submit" id="edit-char-btn">Save</button>
        </div>
    </form>
    <hr>
    <div>
        <h2>Available Perks:</h2>
        <div id="available-perk-wrapper">
            <ul>
            {{#each character.available_perks}}
                <li>
                    <div class="comment">
                        Perk: <span id="span-perk-name">{{this.name}}</span> Rank: <span id="span-perk-rank">{{this.perk_rank}}</span><br>Effect: <span id="span-perk-effect">{{this.effect}}</span><br>
                        Perk ID: <span id="span-perk-id">{{this.id}}</span>, DLC Name: <span id="span-perk-dlc">{{this.dlc.name}}</span>
                    </div>
                </li>
            {{/each}}
        </ul>
        </div>
    </div>

    </div>
    <!--<hr>
    <hr>
    <h2>Animated Modal with Header and Footer</h2>-->

<!-- Trigger/Open The Modal -->
<!--<button id="myBtn">Open Modal</button>-->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 id="modal-perk-name"></h2>
      <h2 id="modal-perk-rank"></h2>
    </div>
    <div class="modal-body">
      <p id="modal-perk-effect">Some other text...</p>
    </div>
    <div class="modal-footer">
      <h3 id="modal-perk-dlc">Modal Footer</h3>
      <p id="modal-perk-id">ID</p>
    </div>
    <div class="modal-buttons">
        <button id="add-perk-btn">Add Perk</button>
        <button id="cancel-btn">Cancel</button>
    </div>
  </div>

</div>

</article>

<script src="/javascript/edit-character.js"></script>