
<article class="post">
    <div class="title">
    <!--
    <h2>Character:</h2>
    <h3>{{name}} by: {{user.username}}</h3>
    <h3>Level: {{level}}</h3><br>
    <h3>{{description}}</h3>
    <h2>S.P.E.C.I.A.L</h2>
    <ul>
        <li>Strength: {{strength}}</li>
        <li>Perception: {{perception}}</li>
        <li>Endurance: {{endurance}}</li>
        <li>Charisma: {{charisma}}</li>
        <li>Intelligence: {{intelligence}}</li>
        <li>Agility: {{agility}}</li>
        <li>Luck: {{luck}}</li>
    </ul>
    -->

    <p>The homepage is not going to have character information displayed on it in the final version of the project. It will act as more of a welcome page
        with links to other parts of the project. For example, the user signup/login page, the user dashboard (if logged in), a link to start creating a new character, etc,
        as well as some instructions on the general purpose and usage of the site.
    </p>
    </div>
</article>